<template>
<div id="log-time">
    <Navbar></Navbar>
    <div class="container">
        <h3 class="mt-5 mb-3">Log time</h3>
        <form >
            <div class="form-group col-8">
                <label>Task</label>
            	<input type="text" class="form-control" v-model.trim="task_id" placeholder="Task"  required="required">
            </div>
            <div class="form-group col-8">
                <label>Pick a date</label>
                <datepicker  class="datepicker form-control"></datepicker>
            </div> 
            <div class="form-group col-8">
                <label>Hours</label>
            	<input type="text" class="form-control" v-model.trim="task_hours" placeholder="Working hours"  required="required">
            </div>
            <div class="form-group col-8">
                <label>Comments</label>
            	<input type="text" class="form-control" v-model.trim="task_comments" placeholder="Comments"  required="required">
            </div>
            <div class="form-group col-8">
                <label for="activity">Activity</label>
                <select class="form-control">
                    <option value="design">Design</option>
                    <option value="meeting">Meeting</option>
                    <option value="development">Development</option>
                </select>
            </div>
            <div class="form-group ">
				<button type="submit" class="btn btn-primary btn-submit">Save</button>
			</div> 
        </form>         
    </div>
</div>
</template>
<script>
import Navbar from "../../Navbar";
import Datepicker from "vuejs-datepicker";
// document.querySelector('.datepicker div input').innerHTML='<span>Click to add a date</span>'

export default {
  name: "log-time",
  data (){
      return{
        task_id : "",
        task_hours : "",
        task_comments : "", 
      }
  },
  components: {
    Navbar,
    Datepicker
  }
};
</script>
<style>
.datepicker div input {
  width:100%;
  border: 0px solid white;
}
.btn-submit{
    margin-left: 1%;
}
</style>
