<template>
<div id="task-add" class="container">
 <div class="col-10 offset-1">
   <h2>"{{name}}" <small class="text-muted">add a new task</small></h2>
  
   <form @submit.prevent="addNewTask">
      
      <div class="form-group">
        <label for="name">Task Name:</label>
        <b-form-input v-model="task.name" required="required" type="text" placeholder="Enter Task Name"></b-form-input>
      </div>
      
      <div class="form-group">
       <label for="name">Task Description:</label>
       <vue-editor value="name" v-model="task.description" required="required"></vue-editor>
     </div>

<div class="row">
      <b-form-group class="col-md-6" label="Task Type: ">
        <b-form-radio-group id="radio" v-model="task.type" :options="typeOptions" name="radioOptions">
        </b-form-radio-group>
      </b-form-group>
      <div class="col-md-6 form-group">
        <label for="slcStatus">Task Status:</label>
        <b-form-select v-model="task.status" id="slcStatus" :options="statusOptions"></b-form-select>
      </div>
</div>
<div class="form-group">
       <label  for="ddown">Give task to member:</label>
       <input @click="addTask" type="button" class="btn btn-success float-right" value="Confirm">
        <b-form-select v-model="selected" :options="members" class="mt-1"/>
       
        <div v-if="show">
            <span>Currently selected member: </span><strong>{{task.selectedMember.text}}</strong>
        </div>
</div>
    <div class="row">
      <div class="col-6">
        <span>Pick a date</span>
         <datepicker > </datepicker>
      </div>
      <div class="col-6 ">
        <input type="submit" value="Add Task" class="btn btn-lg float-right btn-primary">
      </div>
     </div>
   </form>

 </div>
</div>
</template>
<script>
import { VueEditor } from "vue2-editor";
import Datepicker from "vuejs-datepicker";
export default {
  components: {
    VueEditor,
    Datepicker
  },
  name: "task-add",
  data() {
    return {
      show: false,
      name: "This will be project name",
      task: {
        name: "",
        selectedMember: "",
        description: "",
        type: "bug",
        status: "new"
      },
      selected: 0,
      members: [
        { value: 0, text: "Select a member" },
        { value: 1, text: "Zivko" },
        { value: 2, text: "Teodara" },
        { value: 3, text: "jovan" }
      ],
      typeOptions: [
        { value: "bug", text: "Bug" },
        { value: "feature", text: "Feature" }
      ],
      statusOptions: [
        { value: "new", text: "New" },
        { value: "inproggress", text: "In Proggress" },
        { value: "done", text: "Done" },
        { value: "discarded", text: "Discarded" }
      ]
    };
  },
  methods: {
    addTask: function() {
      this.show = true;
      var member = this.members.filter(i => i.value == this.selected)[0];
      this.task.selectedMember = member;
      this.selected = 0;
    },
    addNewtask() {
      console.log(this.task);
    }
  }
};
</script>
<style scoped >
h4 {
  display: inline-block;
}
.btn-right {
  float: right;
}
.error {
  color: red;
}
.mt-2 {
  margin: 2vh 0;
  border: 0.1px solid #dadee5;
}
.p-20 {
  padding: 0 20px 20px 20px;
}
.ml-20 {
  margin-right: 20vw;
}
</style>
