<template>
<div id="task-detail">
    <Navbar></Navbar>
    <div class="container-fluid mt-5">
      <div class="row">
          <div class="col-10 offset-1">
            <div class="row">
                <h2 class="ml-3">Task name</h2>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                  <p class="lead">Project Description</p>
                      <p>Subjects to ecstatic children he. Could ye leave up as built match. Dejection agreeable attention set suspected led offending. Admitting an performed supposing by. Garden agreed matter are should formed temper had. Full held gay now roof whom such next was. Ham pretty our people moment put excuse narrow. Spite mirth money six above get going great own. </p>
                </div>
                <div class="col-4">
                   <div class="row mt-10 ">
                     <div class=" col-3">
                       <strong>Task Type:</strong>
                     </div>
                     <div class="col-3">
                        <span class="bug">Bug</span>
                     </div>
                   </div>

                   <div class="row mt-10">
                     <div class="col-3">
                       <strong>Task Status:</strong>
                     </div>
                     <div class="col-3">
                        <span class="new">New</span>
                     </div>
                   </div>

                      <div class="row mt-10">
                     <div class="col-3">
                       <strong>Start Date:</strong>
                     </div>
                     <div class="col-3">
                        <span class="">2018/17/6</span>
                     </div>
                   </div>

                       <div class="row mt-10">
                     <div class="col-3">
                       <strong>Asign To:</strong>
                     </div>
                     <div class="col-3">
                        <span class="">Nekoj</span>
                     </div>
                   </div>

                </div>
                <div class="col-4">
                      <h3 class="ml-3 mb-3 mr-3">Parent Task</h3>
                      <h4>Task name & info</h4>   
                </div>
            </div>
            <div class="row" >
              <div class="col-7">
                <router-link class="button-text-color btn btn-outline-success float-right" :to="{name:'ProjectEdit'}"> Delete task</router-link>
              </div>
            </div>
            <div class="container-fluid">
                <h4 class="ml-3 mb-3 mr-3">Child Tasks</h4>
                <div class="col-12">
                    <select data-v-30d2eb48=""  class="col-6 form-control float-left custom-select">
                        <option value="0">Filter tasks by</option>
                        <option value="1">Bug</option>
                        <option value="2">Features</option>
                        <option value="3">All</option>
                        <option value="4">Date of creating </option>
                    </select>
                    <div class="btn btn-outline-success float-left"><router-link class="button-text-color" :to="{name: 'TaskAdd'}"> Add new task</router-link></div>
                </div>
            </div>
            <mypage class="mt-3 float-left"/>
        </div>
    </div>
    
</div>
</div>
</template>
<script>
import Mypage from "../../shared/TasksTable";
import Navbar from "../../Navbar";
export default {
  name: "project-detail",
  components: {
    Navbar, Mypage
  }
};
</script>
<style>
.bug{
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  background: red;
}
.new{
   border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  background: blue;
}
    .button-text-color{
        color:black;
    }
    .button-text-color:hover{
        color:white;
        text-decoration: none;
    }
    .mt-10{
      margin-top: 2vh;
    }
</style>
