<template>
  <div id="NavBar" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <router-link to="/app/" class="navbar-brand">Avicenna4IT</router-link>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <router-link to="/app" class="nav-link">Home <span class="sr-only">(current)</span></router-link>
      </li>
      <li class="nav-item">
        <router-link to="/app/mypage" class="nav-link" >My page</router-link>
      </li>
      <li class="nav-item">
        <router-link to="/app/projects" class="nav-link">Projects</router-link>
      </li>
       <li class="nav-item ">
        <router-link to="/app/log" class="nav-link">Log Time</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="/app/help">Help</router-link>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <router-link to="/" class="dropdown-item">Action</router-link>
          <router-link to="/" class="dropdown-item">Another action</router-link>
          <div class="dropdown-divider"></div>
          <router-link to="/" class="dropdown-item">Something else here</router-link>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>
  </div>
</template>

<script >
export default {
  name: "navbar",
  data() {
    return {};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
