<template>
<div id="help">
  <Navbar></Navbar>
</div>
</template>
<script>
import Navbar from '../Navbar'
export default {
  name: "help",
  components:{
       Navbar
  }
};
</script>
<style >
</style>
