<template>
<div id="home" class="container-fluid">
  <navbar></navbar>
  <div class="col-10 mt-3 offset-1">
    <h1 class="mt-2">All tasks</h1>
    <div class="row ml-1 mt-2">
      <select data-v-30d2eb48=""  class="col-6 form-control float-left custom-select">
        <option value="0">Filter tasks by</option>
        <option value="1">Bug</option>
        <option value="2">Features</option>
        <option value="3">All</option>
        <option value="4">Date of creating </option>
      </select>
    </div>
    <div class="row display-block">
      <Mypage class="mt-3"/>
    </div>
  </div>
</div>
</template>
<script>
import Navbar from "../Navbar";
import Mypage from "../shared/TasksTable";

export default {
  name: "home",
  components: {
    Navbar,
    Mypage
  }
};
</script>
<style scoped>
.project-showcase {
  border: 1px solid #e1e2ed;
  border-radius: 5px;
  background: #e1e2ed;

  padding-bottom: 20px;
}
.list-group-item {
  background: #d7d9dd;
  border: 0;
}
.mt-5 {
  margin: 5vh auto;
}
</style>
