<template>
<div id="mypage" class="container-fluid">
    <Navbar></Navbar>
    <div class="col-10 offset-1">
        <h1 class="mt-1">My page</h1>
        <hr/>
        <div class="row">
            <div class="col-6" >
                <p style="text-align:center; font-size:20px;">Issues assigned to me ()</p>
                <hr/>
                <Mypage/>
            </div>
            <div class="col-6">
                <p style="text-align:center; font-size:20px;">Reported issues()</p>
                <hr/>
                <Mypage/>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import Navbar from "../Navbar";
import Mypage from "../shared/TasksTable";
export default {
  name: "mypage",
  components: {
    Navbar,
    Mypage
  }
};
</script>
<style >
</style>
