<template>
<div id="projects">
  <Navbar></Navbar>
  <router-view></router-view>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1>Project list</h1>
        <router-link class="button-text-color btn btn-outline-success mb-3 button-font-color float-right" to="projects/add"> Add new project</router-link>

      </div>
      <b-list-group class="col-12">
        <b-list-group-item href="#" class="flex-column align-items-start">
          <router-link class="link-text" to="projects/1">
            <div>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> Project name </h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">
                Description: Donec id elit non mi porta gravida at eget metus. Maecenas
                sed diam eget risus varius blandit.
              </p>
              <small class="text-muted">Last added task</small>
            </div>
          </router-link> 
        </b-list-group-item>
        <b-list-group-item href="#" class="flex-column align-items-start">
          <router-link class="link-text" to="projects/1">
            <div>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> Project name </h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">
                Description: Donec id elit non mi porta gravida at eget metus. Maecenas
                sed diam eget risus varius blandit.
              </p>
              <small class="text-muted">Last added task</small>
            </div>
          </router-link> 
        </b-list-group-item>
        <b-list-group-item href="#" class="flex-column align-items-start">
          <router-link class="link-text" to="projects/1">
            <div>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> Project name </h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">
                Description: Donec id elit non mi porta gravida at eget metus. Maecenas
                sed diam eget risus varius blandit.
              </p>
              <small class="text-muted">Last added task</small>
            </div>
          </router-link> 
        </b-list-group-item>
        <b-list-group-item href="#" class="flex-column align-items-start">
          <router-link class="link-text" to="projects/1">
            <div>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> Project name </h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">
                Description: Donec id elit non mi porta gravida at eget metus. Maecenas
                sed diam eget risus varius blandit.
              </p>
              <small class="text-muted">Last added task</small>
            </div>
          </router-link> 
        </b-list-group-item>
      </b-list-group>
    </div>
          
  </div>
</div>
</template>
<script>
import Navbar from "../Navbar";
export default {
  name: "projects",
  components: {
    Navbar
  }
};
</script>
<style >
.button-text-color {
  color: black;
}
.button-text-color:hover {
  color: white;
  text-decoration: none;
}
.link-text, .link-text:hover{
  color: black;
  text-decoration: none;
}
</style>
