<template>
  <div id="login">
		<router-view/>
    	<div class="login-form">
				<form>
						<h2 class="text-center">Log in</h2>       
						<div class="form-group" :class="{ 'form-group--error': $v.user.username.$error }">
								<input type="text" class="form-control form__input" v-model.trim="$v.user.username.$model" placeholder="Username"  :class="{ 'form-group--error': $v.user.username.$error }" required="required">
                <div class="error" v-if="$v.user.username.$dirty">
                  <div class="error" v-if="!$v.user.username.required">Username is required</div> 
                  <div class="error" v-if="!$v.user.username.minLength">Username must have at least {{ $v.user.username.$params.minLength.min }} characters.</div>
                </div>          
            </div>
						<div class="form-group" :class="{ 'form-group--error': $v.user.password.$error }">
								<input type="password" v-model.trim="$v.user.password.$model" class="form-control form__input" placeholder="Password" :class="{ 'form-group--error': $v.user.password.$error }" required="required">
                <div class="error" v-if="$v.user.password.$dirty">
                  <div class="error" v-if="!$v.user.password.required">Password is required</div> 
                  <div class="error" v-if="!$v.user.username.minLength"> must have at least {{ $v.user.username.$params.minLength.min }} characters.</div>
                </div>
            </div>
						<div class="form-group">
								<button type="submit" v-on:click="redirectToHome"  class="btn btn-primary btn-block">Log in</button>
						</div> 
						<div class="clearfix">
								<label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
								<!-- <router-link  class="pull-right">Forgot Password?</router-link> -->
						</div>        
				</form>
				<p class="text-center"><router-link  to="/register">Create an Account</router-link></p>
			</div>
  </div>

</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
export default {
  name: "login",
  data() {
    return {
      user: {
        username: "",
        password: ""
      },
      submited: false
    };
  },
  validations: {
    user: {
      username: {
        required,
        minLength: minLength(3)
      },
      password: {
        required,
        minLength: minLength(6)
      }
    }
  },
  methods: {
    redirectToHome: function() {
      
      if (this.$store.getters["loggedIn"](this.user)) {
        this.$router.push({ name: "Home" });
        console.log("tuka sum")
      } else {
        this.user.username = "";
        this.user.password = "";
      }
    }
  }
};
</script>
<style >
@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-vue/dist/bootstrap-vue.css";

.login-form {
  width: 340px;
  margin: 200px auto 0px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}

</style>
