<template>
<div id="register">


		<div class="container">
			<div class=" main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Avicenna4IT</h1>
                    
	               	<hr/>
	               	</div>
	            </div> 


				<div class="main-login main-center">
					<form class="form-horizontal" @submit.prevent="addNewUser">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" v-model.trim="$v.user.name.$model" name="name" id="name" required="required" placeholder="Enter your Name"/>
								</div>
							</div>
						</div>
						<div class="error" v-if="$v.user.name.$dirty">
						<div class="error" v-if="!$v.user.name.required">Field is required</div>
						<div class="error" v-if="!$v.user.name.minLength">Name must be atleast {{$v.user.name.$params.minLength.min}} characters long</div>
						</div>
				
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
								
									<input type="text" class="form-control" v-model="$v.user.email.$model" name="email" id="email" required="required" placeholder="Enter your Email"/>
								</div>
							</div>
							<div class="error" v-if="$v.user.name.$dirty">
								<div class="error" v-if="!$v.user.name.required">Field is required</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
								
									<input type="text" class="form-control" v-model="$v.user.userName.$model" name="username" id="username" required="required"  placeholder="Enter your Username"/>
								</div>
							</div>
							<div class="error" v-if="$v.user.userName.$dirty">
									<div class="error" v-if="!$v.user.userName.required">Field is required</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
								
									<input type="password" class="form-control" v-model="user.password"  required="required"   placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
								
									<input type="password" class="form-control" v-model="user.confirmPassword" required="required" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                  <span class="error">{{errors.passwordError}}</span>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
						</div>
						<div class="login-register">
                    <router-link to="/">Login</router-link>
				         </div>
					</form>
				</div>
			</div>
		</div>


  
</div>
</template>
<script>
import { required, minLength, between } from 'vuelidate/lib/validators'
export default {
  name: "register",
	components:{
		required,minLength,between
	},
  data() {
    return {
      user: {
        name: '',
        userName: "",
        email: "",
        password: "",
        confirmPassword: ""
      },
      errors: {
        passwordError: ""
      }
    };
	},
	validations:{
			user:{
				name:{
					required,
					minLength:minLength(4)
				},
				userName:{
					required
				},
				email:{
					required
				}
			}
	},
  methods: {
    addNewUser() {
			console.log(this.$v.user.name);
			    this.$v.$touch()
			
      if (this.CheckPassword) {		
     this.$store.commit('addUser',this.user);
     this.$router.push({ name: "Home" });
      }
    },
  
  },
  computed: {
    CheckPassword:function() {
      if (this.user.password.length >= 6) {
        this.errors.passwordError = "";
				var samePassword= this.user.password == this.user.confirmPassword;
				if(samePassword){
					return samePassword;
				}
				else{
					this.errors.passwordError="Password must be same";
					return false;
				}
      } else {
        this.errors.passwordError =
          "Password must be atleast 6 characters long";
        return false;
      }
    }
  }
};
</script>
<style >
.main {
  margin-top: 70px;
}

h1.title {
  font-size: 50px;
  font-family: "Passion One", cursive;
  font-weight: 400;
}

hr {
  width: 10%;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.main-login {
  background-color: #fff;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
  padding: 40px 40px;
}

.login-button {
  margin-top: 5px;
}

.login-register {
  font-size: 11px;
  text-align: center;
}
</style>
