<template>
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <b-table :fields="fields" :items="items">
          <!-- A virtual column -->
          <template slot="index" slot-scope="data">
            <router-link :to="{name : 'TaskDetails'}">1</router-link>
          </template>
          <template slot="edit" slot-scope="data">
            <router-link :to="{name : 'TaskEdit'}">edit</router-link>
          </template>
          <!-- A custom formatted column -->
          <template slot="name" slot-scope="data">
            {{data.value.first}} {{data.value.last}}
          </template>
          <!-- A virtual composite column -->
          <template slot="nameage" slot-scope="data">
            {{data.item.name.first}} is {{data.item.age}} years old
          </template>
          <template slot="log time" slot-scope="data">
            <router-link :to="{name : 'LogTime'}">Log time</router-link>
          </template>
        </b-table>
      </div>
    </div>
</div>

</template>

<script>
export default {
  data() {
    return {
      fields: [
        // A virtual column that doesn't exist in items
        "index",
        "edit",
        // A column that needs custom formatting
        { key: "name", label: "Full Name" },
        // A regular column
        "age",
        // A regular column
        "sex",
        // A virtual column made up from two fields
        { key: "nameage", label: "First name and age" },

        "log time",
      ],
      items: [
        { name: { first: "John", last: "Doe" }, sex: "Male", age: 42 },
        { name: { first: "Jane", last: "Doe" }, sex: "Female", age: 36 },
        { name: { first: "Rubin", last: "Kincade" }, sex: "Male", age: 73 },
        {
          name: { first: "Shirley", last: "Partridge" },
          sex: "Female",
          age: 62
        }
      ]
    };
  }
};
</script>
