<template>
<div value="project-edit">
 <div class="container">
   <h2>Project name  |<small class="text-muted">
      Edit Project
     </small></h2>
   <div class="row">
   <form @submit.prevent="addNewProject" class="col-md-9">
     <div class="form-group">
       <label for="name">Change Name:</label>
      <b-form-input v-model="project.name"  type="text" placeholder="Enter Your Name"></b-form-input>
     </div>
      
      <div class="form-group">
       <label for="name">Project Description:</label>
       <vue-editor value="name" v-model="project.description" required="required" :rows="5"></vue-editor>
     </div>
      <div class="form-group">
       <label class="p-20 ml-20" for="ddown">Add a member to project:</label>
       <input @click="addMember" type="button" class="btn btn-success float-right " value="Add a member">
        <b-form-select v-model="selected" :options="members" class="mb-3"/>
        <span class="error">{{error.msg}}</span>
     </div>
     <input type="submit" value="Save Project" class="btn btn-lg float-right btn-primary">
   </form>
   <div v-if="seen" class="col-md-3 mt-2">
     <label for="slclst">Members part of project</label>
     <b-list-group>
       <b-list-group-item  value="slclst" v-for="member in project.selectedMembers" :key="member.value">
        <h4>
           {{member.text}}
        </h4>
        <input  value="Delete" type="button" class="btn btn-danger btn-right"  @click="deleteMember(member.value)">
      </b-list-group-item>
     </b-list-group>
   </div>
   </div>
 </div>

</div>
</template>
<script>
import {VueEditor} from 'vue2-editor'
export default {
  components:{
      VueEditor
  },
  name: "project-edit",
  data(){
    return{
      seen:false,
      project:{
        name:'',
        selectedMembers:[],
        description:''
      },
      selected:0,
      members:[
       {value:0,text:'Select a member'},
      {value:1,text:'Zivko'},
        {value:2,text:'Teodara'},
        {value:3,text:'jovan'},

      ],
      error:{
        msg:""
      }
    }
  },
  methods:{
    addMember:function(){
      this.seen=true;
      if(this.selected==''){
          this.error.msg="Select a Member"
      }
      else{
        this.error.msg="";
        var member=this.members.filter(i=>i.value==this.selected)[0];
        this.project.selectedMembers.push(member);
        var index=this.members.indexOf(member);
        this.members.splice(index,1);
        this.selected=0;

      }
    },
    deleteMember:function(memberValue){
      var selectedMember=this.project.selectedMembers.filter(i=>i.value==memberValue)[0];
      this.members.push(selectedMember);
      var index=this.project.selectedMembers.indexOf(selectedMember);
      this.project.selectedMembers.splice(index,1);
    },
    addNewProject(){
      console.log(this.project);
    }
  },
  computed:{
  
  }


};
</script>
<style scoped >
h4{
  display: inline-block;
}
.btn-right{
  float: right;
}
.error{
  color: red;
}
.mt-2{
margin: 2vh 0;
border: 0.1px solid #dadee5;

}
.p-20{
  padding: 0 20px 20px 20px;
}
.ml-20{
  margin-right: 20vw;
}
</style>
