<template>
<div id="project-detail">
    <Navbar></Navbar>
    <div class="container-fluid mt-5">
      <div class="row">
          <div class="col-10 offset-1">
            <div class="row">
                <h2 class="ml-3">Project name</h2>
            </div>
            <hr>
            <div class="row">
                <div class="col-8 mt-5">
                    <p>Subjects to ecstatic children he. Could ye leave up as built match. Dejection agreeable attention set suspected led offending. Admitting an performed supposing by. Garden agreed matter are should formed temper had. Full held gay now roof whom such next was. Ham pretty our people moment put excuse narrow. Spite mirth money six above get going great own. </p>
                    <div class="float-right">
                        <router-link class="button-text-color btn btn-outline-success float-left" :to="{name:'ProjectEdit'}"> Edit project's details</router-link>
                        <router-link class="button-text-color btn btn-outline-success float-left" :to="{name:'Projects'}"> Delete project</router-link>
                    </div>               
                </div>
                <div class="col-4">
                    <table class="table table-bordered table-light">
                        <tr>
                            <th>Members</th>
                        </tr>
                        <tr>
                            <td>
                                Manager: Dejan Jankov, Metodi Spandjev, Novica Josifovski, Strahil Atanasov, Vesna Dimovska
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Developer: Dejan Jankov, Metodi Spandjev, Novica Josifovski, Strahil Atanasov, Vesna Dimovska
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Reporter: Dejan Jankov, Metodi Spandjev, Novica Josifovski, Strahil Atanasov, Vesna Dimovska
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container-fluid">
                <h4 class="ml-3 mb-3 mr-3">Project Tasks</h4>
                <div class="col-12">
                    <select data-v-30d2eb48=""  class="col-6 form-control float-left custom-select">
                        <option value="0">Filter tasks by</option>
                        <option value="1">Bug</option>
                        <option value="2">Features</option>
                        <option value="3">All</option>
                        <option value="4">Date of creating </option>
                    </select>
                    <router-link class="button-text-color btn btn-outline-success float-left" :to="{name:'TaskAdd'}"> Add new task</router-link>
                </div>
            </div>
            <mypage class="mt-3 float-left"/>
        </div>
    </div>
    
</div>
</div>
</template>
<script>
import Mypage from "../../shared/TasksTable";
import Navbar from "../../Navbar";
export default {
  name: "project-detail",
  components: {
    Navbar,
    Mypage
  }
};
</script>
<style>
.button-text-color {
  color: black;
}
.button-text-color:hover {
  color: white;
  text-decoration: none;
}
</style>
