<template>
  <div id="app"> 
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App',
  components:{
  
  }
}
</script>

<style lang='scss'>
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.error{
  color: red;
}
body, html{
     height: 100%;
 	font-family: 'Oxygen', sans-serif;
}


</style>
